<div class="home">
    <div [ngClass]="{
    'home-text-color-deeppurple-amber': shared.isSelected('deeppurple-amber'),
     'home-text-color-indigo-pink': shared.isSelected('indigo-pink'),
     'home-text-color-pink-bluegrey': shared.isSelected('pink-bluegrey'),
      'home-text-color-purple-green': shared.isSelected('purple-green')}">
        <p>Кулыгина Ольга Викторовна</p><br>
        <p>МБОУ Гимназия №2 г. Саров Нижегородская область</p><br>
        <img *ngIf="!shared.isMobile()" class="main-photo" src="./assets/image/home-page-photo.jpeg" alt="school-photo">
        <img *ngIf="shared.isMobile()" mat-card-image class="main-photo main-photo-mobile" src="./assets/image/homa-page-mobile.jpeg" alt="school-photo">
        <p>На страницах сайта Вы найдете:</p><br>
        <div>
            <p class="home-list" routerLink="/materials">Материалы к урокам и внеклассным мероприятиям</p>
            <p class="home-list" routerLink="/materials">Олимпиадные и конкурсные задания</p>
            <p class="home-list" routerLink="/students">Информацию для моих учеников</p>
            <p class="home-list" routerLink="/parents">Информацию для родителей моих учеников</p>
        </div>
        <br>
        <button mat-raised-button color="primary" routerLink="/feedback">Обратная связь</button>
        <br>
    </div>
</div>

